{% extends "base.html" %}
{% block title %}Problems{% endblock title %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          PREGUNTA...
        </h2>
        <p>
          {{enunciado}}
        </p>

        <form class="form-horizontal" role="form">
          <p>Tu respuesta</p>
          <label for="inputRespuesta" class="col-sm-2 control-label" style="display:none">
            Tu Respuesta
          </label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="inputRespuesta" />
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-large">
                Enviar
              </button>
            </div>
          </div><!--form-group-->
        </form>
      </div><!--.jumbotron-->
    </div><!--.col-md-12-->
  </div><!--.row-->
</div><!--.container-fluid-->


{% if respuesta_correcta %}
<div class="container-fluid" id="correcto">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <p>Respuesta Correcta</p>
        <a class="btn btn-primary btn-large" href="pregunta2.html">Siguiente Problema</a>
      </div><!--.jumbotron-->
    </div><!--.col-sm-10-->
  </div><!--.row-->
</div><!--#correcto-->
{% endif %}

{% if respuesta_incorrecta %}
<div class="container-fluid" id="incorrecto">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <p>Respuesta Incorrecta</p>
        <a class="btn btn-primary btn-large reintentar" href="#">Reintentar</a>
        <a class="btn btn-primary btn-large" href="pregunta2.html">Siguiente Problema</a>
      </div><!--.jumbotron-->
    </div><!--.col-sm-10-->
  </div><!--.row-->
</div><!--#correcto-->
</div>
{% endif %}
{% endblock content %}
